*{
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: monospace, fantasy, cursive, 'Times New Roman', Times, serif;
}

.head-title{
    display: block;
    margin: 0 auto;
    width: max-content
}

li{
    margin-bottom: 3px;
}